  <!-- header page -->
  <div class="ui fixed transparent inverted main menu">
    <div class="container">
      <a class="launch item"><i class="icon list layout"></i> Recallection </a>
      <div class="title item">
        <b>Recall:</b> Event in Calendar
      </div>
      
      <a class="icon item" href="/collections/breadcrumb.html"><i class="left arrow icon"></i></a>
      
      <div class="section ui dropdown link item">
        <span class="count">Menu</span>
        <div class="menu">
          
            <div class="item">
              <a href="/collections/breadcrumb.html">1. All Events</a>
            </div>
          
            <div class="active item">
              <a href="/collections/form.html">2. Add Event</a>
            </div>
          
            <div class="item">
              <a href="/collections/grid.html">3. All Tasks</a>
            </div>
            <!--
            <div class="item">
              <a href="/collections/menu.html">4. Menu</a>
            </div>
          
            <div class="item">
              <a href="/collections/message.html">5. Message</a>
            </div>
          
            <div class="item">
              <a href="/collections/table.html">6. Table</a>
            </div> -->
        </div>
      </div>
      
      <a class="icon item" href="/collections/grid.html"><i class="right arrow icon"></i></a>
      <!--
      <div class="right menu">
        <a class="popup designer icon item" title="Designer Mode">
          <i class="basic paint icon"></i>
        </a>
        <a class="popup developer icon item" title="Developer Mode">
          <i class="terminal icon"></i>
        </a>
        <a class="popup icon github item" title="View project on Github" href="https://github.com/quirkyinc/semantic">
          <i class="icon github"></i>
        </a> 
      </div>-->
    </div>
  </div>
  <!-- end header page -->

  
  <div class="ui black huge launch attached button">
    <i class="icon list layout"></i>
    <span class="text">Menu</span>
  </div>
